<footer>
  <div class="container">
    <p>&copy; {{ site.currentYear }}
      {{ site.author }}. All rights reserved.</p>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="{{ site.social.github }}" aria-label="GitHub" rel="noopener" target="_blank">GitHub</a></li>
        <li><a href="{{ site.social.twitter }}" aria-label="Twitter" rel="noopener" target="_blank">Twitter</a></li>
      </ul>
    </nav>
  </div>
</footer>