{% extends "layouts/base.njk" %}
{% block content %}
<a href="javascript:history.back()" class="back" style="font-size:.8em;text-decoration:none;opacity:.7">← back</a>
<article>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>
{% endblock %}